<%- include('header') -%>
<div class="jumbotron">
   <h1>Profile for <%= profile.userName %></h1>
   <img src="<%= profile.profilePicURL%>" width="200">
   <hr>
   <p> This is <%= profile.googlename %>'s profile
   </p>

   Nickname: <%= profile.userName %> <br>
   Age: <%= profile.age %><br>
   Gender:<%= profile.gender %><br><br>

   <p> Last updated on <%= profile.lastUpdate %> </p>
</div>


<%- include('footer') -%>
